# File .gitignore
# Data files
data/*.csv
data/*.xlsx
data/*.zip

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/